.perfil{
    font-size: 100px;
    margin: auto;
    right: 0;
    left: 0;
}

ion-label{
    margin: auto;
    right: 0;
    left: 0;
}

progress-bar{
    margin: auto;
    right: 0;
    left: 0;
}

.space{
    width:100px;
    background-color: transparent;
}