.text {
    font-size: 1.5em;
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
    text-decoration: underline;
}
.text2{
    font-size: 1em;
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
}
.text3{
    font-size: 1em;
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
}
.white-text{
    color: white !important;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}.card{
    background-color:#4CAF50;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0;
}